<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="styles/form.css" rel="stylesheet">
    </head>
    <body>
    <div class='form-container'>
        <form method='POST' action='/new'>
           <input placeholder='Name' name='user_name'/>
               <textarea rows="5" cols="53" placeholder='message'></textarea>
           <button type='submit'>Add A Message</button>
        </form> 
    </div>
    </body>
</html>
